@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}